.shortest-route-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.shortest-route {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.route-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.route-details {
  margin-top: 20px;
}