body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
  color: #343a40;
}

::ng-deep .mat-dialog-container {
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 400px !important;
  max-width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
